/************ Custom Font ************/
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

/*Colour Pallete*/
:root {
  --white: #f8f6f4;
  --darkestNavigationBlue: #000213;
  --darkGray: #343434;
  --lightGray: #5e6266;
  --darkBlue: #001621;
  --blue: #013281;
  --lightBlue: #00d7fc;
  --yellowishOrange: #ffa41b;
  --yellow: #ffe66d;
}

/*Default Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font: 400;
  overflow-x: hidden;
  position: relative;
  background-color: var(--darkestNavigationBlue) !important;
  color: var(--white) !important;
  font-family: "Centra", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p.success {
  color: var(--yellow);
}

p.danger {
  color: var(--yellowishOrange);
}
